body {
	width: 900px;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
}

h1,
h2,
td {
	text-align: center;
}

table,
tr,
td,
th {
	border-collapse: collapse;
	border: 1px solid black;
}

thead {
	background-color: rgb(0, 128, 0);
	color: white;
}

tr:nth-child(2n) {
	background-color: rgba(0, 128, 0, 0.5); 
}

td {
	font-size: 14px;
	padding: 2px;
	vertical-align: middle;
}

td:first-child {
	width: 250px;
}

td:nth-child(2) {
	width: 100px;
}

td:nth-child(3) {
	width: 200px;
}

td:nth-child(4) {
	width: 175px;
}

td:nth-child(5n+1),
td:nth-child(5n+3) {
	text-align: left;
}

div {
	display: inline-block;
	vertical-align: middle; 
}

.image {
	width: 100px;
	text-align: right; 
}

.name {
	width: 140px;
}

ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-image: url('https://img.icons8.com/metro/12/000000/checkmark.png');
}
